.toolbar-item {
    color: var(--vscode-input-foreground);
    font-weight: normal;
    text-decoration: none;
}

.toolbar {
    border-style: solid;
    font-size: .9em;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 5px;
    border-width: 1px;
}

.toolbar-search {
    background-color: var(--vscode-inputValidation-infoBackground);
    border-color: var(--vscode-inputValidation-infoBorder);
}

.toolbar-error {
    background-color: var(--vscode-inputValidation-errorBackground);
    border-color: var(--vscode-inputValidation-errorBorder);
}